*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
max-width: 1110px;
margin: 0 auto;
text-align: center;
}
.product{
  width: 350px;
  box-shadow: 0 10px 40px 0 rgba(126, 155, 189, 0.3);
  padding: 30px 30px 23px 30px;
  & h2{
    font-size: 20px;
  }
}
.products{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}